:root {
  --color-background: #fff;
  --color-primary: #ccc;
  --color-primary-darken: #aaa;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: var(--color-background);
}

@keyframes rotate {
  to {
    transform: rotateY(360deg);
  }
}

.circle {
  --size: 6rem;
  --thickness: calc(var(--size) * 0.1);
  --color: var(--color-primary);
  --color-side: var(--color-primary-darken);

  position: relative;
  width: var(--size);
  height: var(--size);
  transform-style: preserve-3d;
  animation: rotate 5s linear infinite;

  /* Side */
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    width: var(--thickness);
    height: 100%;
    transform: translateX(-50%) rotateY(90deg);
    background-color: var(--color-side);
  }
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color);
  transform-style: preserve-3d;

  /* Back of face */
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    transform: translateZ(-0.1px);
    background-color: var(--color-side);
  }
}

.face--front {
  transform: translateZ(calc(var(--thickness) * 0.5));
}

.face--back {
  transform: translateZ(calc(var(--thickness) * -0.5)) rotateY(180deg);
}
